.__dd {
    font-family: 'Futura PT';
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img,
    svg {
        vertical-align: middle;
    }

    img {
        max-width: 100%;
        width: 100%;
    }
    &.is--dark {
        .__dd__block-on__main__controls__switch label::after {
            top: 6px;
        }
    }
    &.is--white {
        .__dd__block-on__main__controls__switch label::after {
            top: 47px;
        }
    }
    @media (max-width: 768px) {
        &.is--dark {
            .__dd__block-on__main__controls__switch label::after {
                top: 4px;
            }
        }
        &.is--white {
            .__dd__block-on__main__controls__switch label::after {
                top: 35px;
            }
        }
    }
}