.__dd-is {
    &--rightline {
        position: relative;
        z-index: 5;
        &::after {
            content: '';
            height: 100%;
            position: absolute;
            top: 0;
            right: 16.7vw;
            width: 27.1vw;
            @include col(background, var(--rightline-color), $rightline-color);
            z-index: -1;
        }
    }
}

.__dd {
    &__container {
        max-width: #{1520px + 60px};
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
    }
    &__btn {
        display: inline-flex;
        align-items: center;
        padding: 25px 33px;
        position: relative;
        border: 4px solid $c-primary;
        border-radius: 50px;
        background: transparent;
        cursor: pointer;
        white-space: nowrap;
        z-index: 2;
        transition: .35s all ease;
        &::after {
            content: '';
            position: absolute;
            background: rgba($c-primary, .2);
            z-index: -1;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: .35s all ease;
            width: 0;
            height: 0;
            border-radius: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            background: rgba($c-primary, .2);
            z-index: -1;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: .35s all ease;
            width: 0;
            height: 0;
            border-radius: 100%;
            transition-delay: .1s;
        }
        &:hover {
            border-color: transparent;
            span {
                &.__dd__is--text {
                    transform: translateX(5px);
                }
                &.__dd__is--icon {
                    svg {
                        fill: #fff;
                    }
                }
            }
            &::after,
            &::before {
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                border-radius: 50px;
            }
        }
        &:focus {
            transform: scale(.92);
        }
        span {
            &.__dd__is--icon {
                display: inline-block;
                margin-right: 15px;
                svg {
                    fill: #5B433F;
                    transition: .35s all ease;
                }
            }
            &.__dd__is--text {
                @include col(color, var(--text), $text);
                font-weight: 450;
                font-size: 16px;
                line-height: 112.5%;
                letter-spacing: 0.095em;
                transition: .25s all ease;
            }
        }
    }
}