$rightline-color: #262930;
$b1-bg: #1D2027;
$b2-bg: #1B1D23;
$b3-bg: #1D2027;
$b4-bg: #151A22;
$b5-bg: #1D2027;
$b6-bg: #1B1D23;
$b7-bg: #262930;
$b8-bg: #151A22;
$b9-bg: #1D2027;
$sub-text: #C1C1C1;
$logo: #ffffff;
$text: #ffffff;
$f-logo: #858585;
$f-text: #C1C1C1;