:root {
    --rightline-color: #F8F8F8;
    --b1-bg: #FFFFFF;
    --b2-bg: #EEEDEB;
    --b3-bg: #ffffff;
    --b4-bg: #F8F8F8;
    --b5-bg: #EEEDEB;
    --b6-bg: #FFFFFF;
    --b7-bg: #F8F8F8;
    --b8-bg: #EEEDEB;
    --b9-bg: #FFFFFF;
    --sub-text: #7A7A7A;
    --logo: #0F0F0F;
    --text: #0F0F0F;
    --f-logo: #C1C1C1;
    --f-text: #C1C1C1;
}